html,
body {
  background-color: black;
}

h1 {
  text-align: center;
  color: aliceblue;
}

h5 {
  display: block;
  text-align: center;
  color: aliceblue;
}

/* div with rolls data */
#rolls{
display: block;
text-align: center;
width: 100vw;
height: 30px;
margin: auto;
}

/* this is the JS span */
#numRolls{
padding-left: 5px;
}

#balance{
  display: block;
text-align: center;
  width: 100vw;
  height: 30px;
  margin: auto;

}

.dollarSign{
  padding-left: 0px;
}

#accountBalance{
  padding-left: 5px;

}



.pagelinks {
  display: inline-block;
  width: 70vw;
  height: 20px;
  margin: 0vw, 15vw, 15vw, 15vw;
  text-align: center;
}

#diceLogo {
  display: block;
  height: 200px;
  width: 300px;
  margin: auto;
}

.pagelinks {
  height: 20px;
  width: 100vw;
}

a {
  color: aliceblue;
}

form{
  display: block;
  width: 200px;
  margin: auto;
  text-align:center;
}
