html,
body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: grey;
  color: azure;
  font-family: "Roboto";
}

body {
  padding: 30px 0px 30px 0px;
}

.redBox {
  display: flex;
  width: 100vw;
  height: 300px;
  background-color: red;
}

#redSpan {
  position: static;
  box-sizing: border-box;
  background-color: aliceblue;
  border: 3px dashed blue;
  height: 50px;
  width: 100px;
  margin-left: auto;
  margin-top: auto;
  padding-bottom: 0px;
  padding-top: 0.8em;
}

#redText {
  text-align: right;
  color: blue;
}

.blueBox {
  display: inline-block;
  width: 100vw;
  height: 300px;
}

.textbox {
  display: block;
  background-image: url(/Images/dice2.jpeg);
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
}

.Links {
  display:block;
 padding-left: 10vw;
 padding-right: 10vw;
  width: 80vw;
  height:auto;
  background-color: white;
  text-align: center;
  border-style: dashed;
  border-color: green;
}

a{
  width:;
  border: 2px;
  border-style: solid;
}